@font-face {
    font-family: Monoton;
    src: url("../../assets/fonts/Monoton-Regular.ttf");
}
@font-face {
    font-family: Sofia;
    src: url("../../assets/fonts/SFRegular.otf");
    font-weight: 400;
}
/* @font-face {
    font-family: Sofia;
    src: url("../../assets/fonts/SFBold.otf");
    font-weight: 700;
} */

body{
    background-color: #111111;
    height: 100vh;
    display: flex;
    margin: 0;
    font-family: Sofia;
    color: white;
    user-select: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#form{
    display: flex;
    flex-direction: column;
    color: aliceblue;
}



nav{

}