body{
    background-color: #111111;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Sofia;
    color: white;
    user-select: none;
    align-items: center;

}


@font-face {
    font-family: Monoton;
    src: url("../../assets/fonts/Monoton-Regular.ttf");
}
@font-face {
    font-family: Sofia;
    src: url("../../assets/fonts/SFRegular.otf");
    font-weight: 400;
}
nav{
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:  14px 16px ;
    justify-content: space-between;
    align-items: center;
}
nav div a{
    text-decoration: none;
    
    color: rgba(255, 255, 255, 0.479);
    transition: color 0.8s ease;
    margin-right: 14px;
}

nav div a:hover{
    color: white;
}
.avatar{
    width: 24px;height: 24px; border-radius: 50%; margin-right: 8px;
  transition: transform 0.5s ease;

}

.avatar:hover{
  transform: scale(8);
  margin-right: 16px;
}

.home-input{
    background-color: #1F1F1F;
    padding: 18px;
    outline: none;
    border: none;
    border-radius: 16px;
    color: white;
}
.grid{
    padding:0px 36px;
    gap: 24px;
    display: grid;
    width: calc( 100% - 72px) ;
    grid-template-columns: auto auto auto auto;
}