<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Welcome - Mahdi Boullouf</title>
</head>
    <nav >
        <p class="monoton">NOTIX</p>
<hr style="width: 100%;">
<br>
    <div style="display: flex;justify-content: space-between;">
        <div style="display: flex;justify-content: center;">
            <img src="https://picsum.photos/400/400" class="avatar"  alt="" srcset="">
         <span class="">Mahdi Boullouf</span>   
        </div>

        <div style="display: flex; ">
            <a href="" style="color: white;margin-left: 36px;" >Notes</a>

            <a href="tasks.html"  >Tasks</a>

            <a onclick="logout()" style="cursor: hand;" >Logout</a>
        </div>




</nav>
</div>

<body >


    <div style="display: flex;width: 100%; align-items: center;">
        <input type="text" id="noteTitle" class="home-input" style="flex: 1; margin-left: 36px;" placeholder="Today's Lesson Notes ..">
        <button type="button" id="noteTitleButton" style=" height: 51px; margin-left: 10px; margin-right: 36px; padding: 0px 20px;" onclick="showTextArea()"> <i class="fa fa-plus"></i></button>
    </div>

    <div id="noteBody" style="display: none; width: 100%; flex-direction: column; align-items: end; padding: 0 72px;">
        <textarea maxlength="500" type="" class="home-input" style="width: calc( 100% - 72px); margin: 0 36px; resize: none; height: 150px;" placeholder="a non clean OOP application can be easy to build with your team .. but with your team only in that time only ." aria-controls="false" id="bodyNote"></textarea>
        <br>
        <button style="margin-right: 36px;" onclick="addNote()">Save</button>
    </div>
<br>
<div class="grid" id="notes" >

 
</div>

<br><br><br><br>
  <!-- <span class="subtitle"> By Mahdi Boullouf</span> -->
<br><br><br><br><br>
<script  src="../controller/notes_controller.js"></script>
<script >

    document.body.onload = showNotes();
    function logout(){
            sessionStorage.clear()
            window.location.pathname="/view/login.html";
        }
    function showTextArea() {
        var titleBtnInput = document.getElementById("noteTitleButton");
        titleBtnInput.style.display = "none";
        var titleInput = document.getElementById("noteTitle");
        titleInput.style.marginRight = "36px";
        document.getElementById("noteBody").style.display = 'flex';
    }

</script>

<script>
   
</script>
</body>
</html>