<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/auth.css">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Sign UP</title>
</head>

<nav>

</nav>
<body >
    <div class="body">
        <p class="largeTitle monoton">NOTIX</p>
        <div class="card" >
           <form action="" method="post" id="form">
            <label for="email" style="margin-top: 6px;">Email Address</label>
            <input type="email" name="" id="email" placeholder="example@gmail.com" required>
            <label for="password">Password</label>
            <input type="password" name="" id="password" placeholder="**********" required>
            <br>
            <button role="button" onclick="login()" class="btn" type="submit" >Sign In</button>
        </form>

        </div>
    </div>
    <p>
 <span class="subtitle">A new user ?</span> <a href="signup.html" style="color: white;"> Sign Up</a>
        
    </p>

<br><br><br><br>
  <span class="subtitle"> By Mahdi Boullouf</span>
<br><br><br><br><br>
<script src="../controller/authenticator.js"></script>

</body>
</html>