<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Sign UP</title>
</head>
<script src="../controller/main.js"></script>

<nav>

</nav>
<body >
    <div class="body">
        <p class="largeTitle monoton">NOTIX</p>
        <div class="card" >
           <form action="" method="post" id="signup">
            <label for="email" style="margin-top: 6px;">Email Address</label>
            <input type="email" name="" id="email" placeholder="example@gmail.com" required>
            <label for="password">Password</label>
            <input type="password" name="" id="password" placeholder="**********" required>
            <br>
            <button class="btn" type="submit" >Sign In</button>
        </form>

        </div>
    </div>
    <p>
 <span class="subtitle">  you dont have an account ?</span> <bold> Sign up</bold>
        
    </p>

<br><br><br><br>
  <span class="subtitle"> By Mahdi Boullouf</span>

</body>
</html>